body{
    padding: 0;
    margin: 0;
}
.top-banner{
    display: flex;
    background-color: rgb(241, 247, 255);
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}
.sectionDevider{
    text-align: center;
    background-color: rgb(236, 254, 237);
}
.sectionDevider img{
    height: 3rem;
    width: 5rem;
}
h1{
    font-size: 5rem;
    margin: 0px;
    /* font-family: 'Ms Madi', cursive; */
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Rubik', sans-serif;
}
.bannerText{
    width: 60%;
    padding: 5%;
}
.bannerText span{
    color: rgb(255, 31, 214);
    display: block;
}
.bannerText h3{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
.bannerText p{
    font-size: 18px;
    margin-bottom: 2rem;
}
.bannerText a{
    color: #fff;
    background-image: linear-gradient(rgba(118, 19, 255, 0.888), rgb(255, 37, 222));
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}
.bannerImage{
    width: 40%;
}
.dream-big{
    background: rgb(236, 254, 237);
    background-image: url(images/bg2.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: 0;
}
.dream-big img{
    border-radius: 50%;
    width: 70%;
    /* padding: 15%; */
    box-shadow: 0px 0px 30px rgb(213, 255, 223);
    margin: 14%;
    margin-bottom: 0;
}
.dream-big .bannerText h1{
    font-size: 4rem;
    margin: 0px;
    /* font-family: 'Ms Madi', cursive; */
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
}

.experienceMain{
    padding: 5rem;
    background-color: rgb(236, 254, 237);
    background-image: url(images/bg3.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.experienceMain h1{
    display: block;
    text-align: center;
    padding-bottom: 2rem;
}
.experience{
    display: flex;
    justify-content: space-around;
}
.fullStack{
    width: 40%;
    background-color: #ffffff;
    padding: 3rem;
    box-shadow: 5px 7px 40px grey;
    border-left: 5px solid blue;
    border-radius: 10px;
}
.babyDeveloper{
    width: 40%;
    background-color: #ffffff;
    padding: 3rem;
    box-shadow: 5px 7px 40px grey;
    border-left: 5px solid rgb(255, 10, 112);
    border-radius: 10px;
}
.experience h2{
    font-size: 5vh;
}
.experience h3{
    font-size: 25px;
    color: orange;
}
.experience p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.footerSection{
    text-align: center;
    background-color: rgb(236, 254, 237);
}
.footerSection p{
    margin: 0;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: cursive;
}